# --- App dependencies ---
fastapi
uvicorn
aiohttp
aiokafka
pydantic

# --- OpenTelemetry Auto Instrumentation ---
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-logging