apiVersion: v1
kind: ConfigMap
metadata:
  name: ingress-nginx-controller
  namespace: ingress-nginx
data:
  enable-opentelemetry: "true"
  opentelemetry-operation-name: "HTTP $request_method $service_name"
  opentelemetry-trust-incoming-span: "true"
  opentelemetry-sampler: "AlwaysOn"
  otlp-collector-host: "otel-collector.monitoring.svc.cluster.local"
  otlp-collector-port: "4317"


# edit ingress deployment and enable metrics
# kubectl edit deployment ingress-nginx-controller -n ingress-nginx
# - --enable-metrics=true