apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: monitoring
data:
  loki-config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
    
    common:
      instance_addr: 127.0.0.1
      path_prefix: /data/loki
      storage:
        filesystem:
          chunks_directory: /data/loki/chunks
          rules_directory: /data/loki/rules
      replication_factor: 1
      ring:
        kvstore:
          store: inmemory
    
    schema_config:
      configs:
        - from: 2020-10-24
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h
    
    ruler:
      alertmanager_url: http://127.0.0.1:9093
    
    pattern_ingester:
      lifecycler:
        min_ready_duration: 1s
    
    ingester:
      lifecycler:
        min_ready_duration: 1s
    
    frontend:
      scheduler_dns_lookup_period: 1s
      address: 127.0.0.1
    
    query_scheduler:
      use_scheduler_ring: false
    
    limits_config:
      ingestion_rate_mb: 64
      ingestion_burst_size_mb: 128
      max_entries_limit_per_query: 5000
      reject_old_samples: true
      reject_old_samples_max_age: 24h
      max_concurrent_tail_requests: 20
      retention_period: 168h
      max_streams_per_user: 10000
      max_global_streams_per_user: 5000
    
    table_manager:
      retention_deletes_enabled: true
      retention_period: 7d

