version: "3.9"

services:
  mimir:
    image: grafana/mimir:latest
    command: ["-config.expand-env=true", "-config.file=/etc/mimir/config.yaml"]
    volumes:
      - ./mimir.yaml:/etc/mimir/config.yaml
    ports:
      - "9009:9009"

  loki:
    image: grafana/loki:latest
    command: ["-config.expand-env=true", "-config.file=/etc/loki/local-config.yaml"]
    ports:
      - "3100:3100"

  tempo:
    image: grafana/tempo:latest
    command: ["-config.file=/etc/tempo/local.yaml"]
    ports:
      - "3200:3200"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    command: ["--config=/etc/otelcol/config.yaml"]
    volumes:
      - ./otel-config.yaml:/etc/otelcol/config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - mimir
      - tempo
      - loki
